Django==4.2.8
django-cors-headers==4.3.1
djangorestframework==3.14.0
psycopg2-binary==2.9.9
gunicorn==21.2.0
Pillow==10.1.0
boto3==1.34.7
django-storages==1.14.2
django-filter==23.5
celery==5.3.6
redis==5.0.1
django-celery-beat==2.5.0
flower==2.0.1
django-celery-results==2.5.1
django-nested-admin==4.0.2
Faker==21.0.0
django-debug-toolbar==4.2.0
ipython==8.19.0

# Docs
drf-yasg==1.21.7

# Sentry
sentry-sdk==1.39.1
sentry-sdk [django] == 1.39.1
